extends ../layout

block content
  section.content
    .box-body
      form(action='/admin/flowers/#{flower._id}/edit', method='post', enctype='multipart/form-data')

        .form-group
          label Название
          input.form-control(type='text', value='#{flower.name}', name='name')

        .form-group
          label Цена
          .input-group
            span.input-group-addon ₽
            input.form-control(type='number', value='#{flower.price}', name='price', min='0')
            span.input-group-addon .00

        .form-group
          label Описание
          input.form-control(type='text', value='#{flower.description}', name='description')

        .form-group
          label Тип
          input.form-control(type='text', value='#{flower.type}', name='type')

        .form-group
          label Цвет
          input.form-control(type='text', value='#{flower.color}', name='color')

        .form-group
          label Изображение
          input(type='file', value='#{flower.image}', name='image')

        input(type='hidden',value='PUT',name='_method')

        .actions
          button.btn.btn-primary(type="submit") Сохранить
