extends ../layout

block content
  .container
    h1 Цветы
    a(href='flowers/new')
      button.btn.btn-primary Добавить

    .table-responsive
      table.table
        thead
          tr
            th Название
            th Описание
            th Цена
            th Изображение
            th Управление
            th &nbsp;
        tbody
          for flower in flowers
            tr
              td
                a(href='flowers/#{flower._id}')
                  = flower.name
              td= flower.description
              td= flower.price
              td
                img(src= '/uploads/#{flower.image}')
              td
                a(href='flowers/#{flower._id}/edit')
                  button.btn.btn-warning Изменить
              td
                form(action='/admin/flowers/#{flower._id}', method='post', enctype='application/x-www-form-urlencoded')
                  input(type='hidden',value='DELETE',name='_method')
                  button.btn.btn-danger(type='submit') Удалить
