extends ../layout

block content
  .container
    .box-body
      form(action='/admin/bouquets/#{bouquet._id}/edit', method='post', enctype='multipart/form-data')

        .form-group
          label Название
          input.form-control(type='text', value='#{bouquet.name}', name='name')

        .form-group
          label Цена
          .input-group
            span.input-group-addon ₽
            input.form-control(type='number', value='#{bouquet.price}', name='price', min='0')
            span.input-group-addon .00

        .form-group
          label Описание
          input.form-control(type='text', value='#{bouquet.description}', name='description')

        .form-group
          label Описание для флористов
          input.form-control(value='#{bouquet.prescription}', name='prescription')

        .form-group
          label Цвет
          input.form-control(type='text', value='#{bouquet.color}', name='color')

        .form-group
          label.font-noraml Cостав
          .input-group
            select(data-placeholder='Выберите цветы' multiple style='width:500px;' tabindex='4' name='flowers').chosen-select
              each flower in bouquet.flowers
                option(value='#{flower.name}')= flower.name

        .form-group
          label.font-noraml Настроения
          .input-group
            select(data-placeholder='Выберите настроения' multiple style='width:500px;' tabindex='4' name='moods').chosen-select
              each mood in bouquet.moods
                option(value='#{mood.name}')= mood.name

        .form-group
          label Иконка цвета
          input(type='file', value='#{bouquet.icon}', name='icon')

        .form-group
          label Изображение
          input(type='file', value='#{bouquet.image}', name='image')

        input(type='hidden',value='PUT',name='_method')

        .actions
          button.btn.btn-primary(type="submit") Сохранить
