extends ../layout

block content
  .container
    h1 Букеты

    for bouquet in bouquets
      .col-lg-3.padding-card
        .ibox.float-e-margins
          img(src= "/uploads/#{bouquet.images['0']}")
          .ibox-title
            a(href='bouquets/#{bouquet._id}')
              h5= bouquet.name
            .ibox-tools
              a(href='bouquets/#{bouquet._id}/edit')
                i.fa.fa-wrench
              form(action='/admin/bouquets/#{bouquet._id}', method='post', enctype='application/x-www-form-urlencoded')
                input(type='hidden',value='DELETE',name='_method')
                button.delete-button(type='submit')
                  i.fa.fa-times
